platform :ios, '17.0'

project 'RokidLyrics.xcodeproj',
  'Debug' => :debug,
  'Release' => :release,
  'Mock-Debug' => :debug,
  'Mock-Release' => :release,
  'Rokid-Hardware-Debug' => :debug,
  'Rokid-Hardware-Release' => :release

target 'RokidLyrics' do
  use_frameworks!
  pod 'RGCxrClient', '1.0.4'
end

# Intentionally do not link RGCxrClient into RokidLyricsShareExtension.
